test/
*.md
.dockerignore
.*
.env
**/dist
**/node_modules
.idea
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
**/coverage
**/.nyc_output
**/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*